.header-list {
  display: flex;
  margin: 0 20px;
  background-color: aliceblue;
}

.id, .name, .email {
  width: 30%;
  text-align: left;
}

.view, .delete {
  width: 5%;
}

.create {
  text-align: right;
  margin-bottom: 30px;
}